# 忽略所有
*

# 取消忽略想要的文件和文件夹
!*/
!/projects/
!/projects/**
!/docs/
!README.md
!LICENSE

# 确保.gitignore不被忽略
!.gitignore

# 忽略特定的文件和文件夹
/projects/**/.vscode/

# 文档的处理
!/docs/**/*.pdf
!/docs/**/*.tex
!/docs/**/*.md
!/docs/**/.vscode/
!/docs/**/.vscode/**
